{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2><b>Welcome to Health Diagnostic System: Case of Diabetes</b></h2><br>
        {% if session['username'] %}
        <div class="card-body">           
            <a class = "bout" href = "/newpatient">
              <button type="button" class="btn btn-lg btn-block btn-primary">New Patient</button>
            </a>
          </div>
          <div class="card-body">           
            <a class = "bout" href = "/existpatient">
              <button type="button" class="btn btn-lg btn-block btn-primary">Existing Patient</button>
            </a>
          </div>
          <div class="card-body">           
            <a class = "bout" href = "/predict">
              <button type="button" class="btn btn-lg btn-block btn-primary">Prediction</button>
            </a>
          </div>
        {% else %}
        <p>This application is based on Artificial 
            Intelligence especialy in Machine learning.<br>
        <p>We are using Machile Learning here in terms to detect and or Predict whether a <br> 
        <p>patient has or not Diabetes using the values entering by the nurse or the Doctor.</p>
        {% endif %}
    </div>
</div>

{% endblock %}